.customInput {
  display: flex;
  flex-direction: column;
  // margin-bottom: 16px; /* Standard spacing */
  width: 100%; /* Full width by default */
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #6c757d; /* MUI label color */
  transition: color 0.3s ease;
}

.input {
  padding: 12px 12px;
  font-size: 16px;
  border: 1px solid #ced4da; /* Light grey border */
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%; /* Full width by default */

  &:focus {
    border-color: #007bff; /* MUI focus color */
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.2); /* MUI focus shadow */
    outline: none;
  }

  &:disabled {
    background-color: #f5f5f5; /* Light grey background for disabled state */
    border-color: #e0e0e0; /* Light grey border for disabled state */
    cursor: not-allowed;
  }
}

.errorInput {
  border-color: #dc3545; /* Red border for error state */
}

.errorMessage {
  color: #dc3545; /* Red color for error message */
  margin-top: 4px;
  font-size: 12px;
}

.inputWrapper {
  display: flex;
  align-items: center;
}

.togglePassword {
  margin-left: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff; // Adjust color as needed
  font-size: 0.9em;
}
